@model PfeApp.Models.Pfe_etudiant

@{
    ViewData["Title"] = "Details";
}
    @if (User.Identity.IsAuthenticated)
{
<h1>Details</h1>

<h1>Details Pfe de l'etudiant  </h1>
<hr />
<br />

<div>


    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pfe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pfe.Desc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Etudiant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Etudiant.Nom)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
}