@model PfeApp.Models.Pfe_etudiant

@{
    ViewData["Title"] = "Edit";
}
    @if (User.Identity.IsAuthenticated)
{
    <h1>Edit</h1>

    <h4>Pfe_etudiant</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="PfeId" class="control-label"></label>
                    <select asp-for="PfeId" class="form-control" asp-items="ViewBag.PfeId"></select>
                    <span asp-validation-for="PfeId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EtudiantID" class="control-label"></label>
                    <select asp-for="EtudiantID" class="form-control" asp-items="ViewBag.EtudiantID"></select>
                    <span asp-validation-for="EtudiantID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
